.bubble{
    background-color: rgb(115, 174, 120);
    color: whitesmoke;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    z-index: 100;
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color .4s;

}



.bubble:hover{
    background-color: rgb(137, 203, 144);
}


.icon-box {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 32px;
    height: 32px;
}