.control-bar {
    display: flex;
    flex-direction: row;
    color: whitesmoke;
    background-color: #15191f;
    align-items: center;
    justify-content: space-between;
    border-radius: 9999px;
    border: 1px solid #2c2c2d;
}

.bubble {
    background-color: rgb(115, 174, 120);
    color: whitesmoke;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .3s;

}

.listening {
    background-color: rgb(148, 148, 246);
}

.bubble:hover {
    background-color: rgb(64, 109, 200);
    /* border: 1px solid #2c2c2d; */
}


.icon-box {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 22px;
    height: 22px;
}

.settings {
    background-color: #15191f;
    color: whitesmoke;
}


.settings:hover {
    background-color: rgb(47, 46, 46);
}