.sidebar {
    width: 25px;
    height: 100vh;
    padding: 10px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-bottom: 1rem;
    color: whitesmoke;
    transition: all 0.2s ease;
    cursor: pointer
}

.nav-link:hover {
    background-color: #333;
    border: 1px solid rgb(115, 174, 120);
    color: rgb(115, 174, 120);
    border-radius: 8px;

}

.nav-link.active {
    border: 1px solid rgb(115, 174, 120);
    color: rgb(115, 174, 120);
    border-radius: 8px;
}

.icon-box {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 32px;
    height: 32px;
    transition: all 0.2s ease;
    cursor: pointer
}