body {
  height: 100%;
  margin: 0;
  overflow: hidden;

}

.app {
  height: 100vh;
  width: 100%;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: whitesmoke;
  background-color: #15191f;
  display: flex;
  flex-direction: row;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100%;
  height: 97.5vh;
  margin: 10px;
  border: 1px solid rgb(67, 59, 59);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 1vw 2.5vw 1vw 2.5vw;

}