.draggable {
  -webkit-app-region: drag;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

.no-drag {
  -webkit-app-region: no-drag;
}